@import "../../node_modules/reset.css/reset";
@import "../../node_modules/bulma/sass/utilities/functions";

@import "../../node_modules/bulma/bulma";

html {
  height: 100%;
  overflow-y: scroll;
}

.image {
  margin-bottom: 3em !important;

  &.is-256x256 {
    height: 256px;
    width: 256px;
  }

  &.is-centered {
    margin: auto;
  }
}
