@import "../../node_modules/reset.css/reset";
@import "../../node_modules/bulma/sass/utilities/functions";

$dimensions: (256);

@import "../../node_modules/bulma/bulma";

html {
  height: 100%;
  overflow-y: scroll;
}

.image {
  margin-bottom: 3em !important;

  &.is-centered {
    margin: auto;
  }

  @include mobile {
    &.has-fade-mobile { 
      max-height: 35vh;
      overflow: hidden;

      &:after {
        position: absolute;
        height: 20vh;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        content: " ";
      }
    }
  }
}

.has-sparse-text {
  letter-spacing: 1em;
}

.has-children-centered {
  justify-content: center;
}